<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin User</title>
  </head>
  <body>
    <h1>유저 관리</h1>
    <h3><모든 유저></h3>
    <p>유저 아이디를 누르면 해당 유저 정보를 확인하실 수 있습니다.</p>
    <table border="1" cellspacing="0">
      <thead>
        <tr>
          <th>유저 시퀀스</th>
          <th>ID</th>
          <th>이름</th>
          <th>관리자 여부</th>
          <th>가입일</th>
        </tr>
      </thead>
      <tbody>
        <% for (let user of users) { %>
        <tr id="tr_<%= user.id %>">
          <td><%= user.userSeq %></td>
          <td><a href=""><%= user.id %></a></td>
          <td><%= user.name %></td>
          <td><%= user.isAdmin %></td>
          <td>
            <%= user.dataValues.year + '-' + user.dataValues.month + '-' +
            user.dataValues.month %>
          </td>
          <% } %>
        </tr>
      </tbody>
    </table>
  </body>
</html>
