<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin User</title>
  </head>
  <body>
    <h1>유저 관리</h1>
    <h3><모든 유저></h3>
    <table border="1" cellspacing="0">
      <thead>
        <tr>
          <th>유저 시퀀스</th>
          <th>ID</th>
          <th>이름</th>
          <th>관리자 여부</th>
          <th>가입일</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%try {%><% for (let user of users) { %>
        <tr id="tr_<%= user.userSeq %>">
          <td><%= user.userSeq %></td>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.isAdmin %></td>
          <td>
            <%= user.dataValues.year + '-' + user.dataValues.month + '-' +
            user.dataValues.day %>
          </td>
          <td>
            <a href="/admin/user/board/<%=user.userSeq%>">게시물</a>
          </td>
          <td>
            <a href="/admin/user/comment/<%=user.userSeq%>">댓글</a>
          </td>
        </tr>
        <% } %><% } catch {%>
        <tr id="tr_<%= users.userSeq %>">
          <td><%= users.userSeq %></td>
          <td><%= users.id %></td>
          <td><%= users.name %></td>
          <td><%= users.isAdmin %></td>
          <td>
            <%= users.dataValues.year + '-' + users.dataValues.month + '-' +
            users.dataValues.day %>
          </td>
          <td>
            <a href="/admin/user/board/<%=users.userSeq%>">게시물</a>
          </td>
          <td>
            <a href="/admin/user/comment/<%=users.userSeq%>">댓글</a>
          </td>
          <td><button>삭제</button></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </body>
</html>
