<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 / 모든 게시글 조회</title>

    <!-- CDN -->
    <%- include('../../includes/cdn.ejs') %>
  </head>
  <body>
    <a href="/">home</a> <br />
    <a href="/admin">관리자 메인</a>

    <hr />

    <h1>모든 게시글 조회</h1>

    <input type="text" name="search" id="search" />
    <button type="button" onclick="searchBoard();">검색</button>

    <hr />

    <div id="tempDiv">
      <% for(let board of boardInfo) { const user = board.dataValues.user; const
      boardDate = board.dataValues; %>
      <ul>
        <li>
          <a href="/admin/board/profile/<%= board.boardSeq %>"
            >게시글 제목 : <%= board.title %></a
          >
        </li>
        <li>게시글 내용 : <%= board.content %></li>
        <li>작성자 : <%= user.name %></li>
        <li>
          작성일 : <%= boardDate.year %>/<%= boardDate.month %>/<%=
          boardDate.day %>
        </li>
        <li>조회수 : <%= board.count %></li>
      </ul>
      <button type="button" onclick="removeBoard('<%= board.boardSeq %>');">
        삭제
      </button>
      <br /><br />
      <% } %>
    </div>

    <script>
      // 게시글 검색
      async function searchBoard() {
        try {
          const search = document.querySelector('#search');
          const response = await axios({
            method: 'get',
            url: `/admin/board/list?search=${search.value}`,
          });

          console.log(response);
          const { boardInfo, allBoardLen, msg } = response.data;
          const tempDiv = document.querySelector('#tempDiv');
          tempDiv.textContent = '';

          if (boardInfo.length > 0) {
            for (let board of boardInfo) {
              const ul = document.createElement('ul');
              const li = document.createElement('li');
              const li2 = document.createElement('li');
              const li3 = document.createElement('li');
              const li4 = document.createElement('li');
              const li5 = document.createElement('li');
              const anchor = document.createElement('a');
              const deleteBtn = document.createElement('button');

              anchor.href = `/board/profile/${board.boardSeq}`;
              anchor.innerText = `게시글 제목 : ${board.title}`;

              li.append(anchor);
              li2.append(`게시글 내용 : ${board.content}`);
              li3.append(`작성자 : ${board.user.name}`);
              li4.append(`작성일 : ${board.year}/${board.month}/${board.day}`);
              li5.append(`조회수 : ${board.count}`);

              ul.append(li);
              ul.append(li2);
              ul.append(li3);
              ul.append(li4);
              ul.append(li5);

              deleteBtn.type = 'button';
              deleteBtn.onclick = function(){
                removeBoard(`${board.boardSeq}`);
              }
              deleteBtn.textContent = '삭제';

              tempDiv.append(ul);
              tempDiv.append(deleteBtn);
              tempDiv.append(document.createElement('hr'));
            }
          } else {
            tempDiv.textContent = '검색 결과가 없습니다.';
          }
        } catch (err) {
          console.log(err);
        }
      }

      // 게시글 삭제
      async function removeBoard(boardSeq) {
        if (confirm('게시글을 삭제하시겠습니까?')) {
          try {
            const response = await axios({
              method: 'delete',
              url: '/admin/board/remove',
              data: { boardSeq: boardSeq },
            });

            console.log(response.data);
            if (response.data.msg === 'fail') {
              alert('게시글 삭제에 실패했습니다.');
            }

            location.href = '/admin/board';
          } catch (err) {
            alert('게시글 삭제에 실패했습니다.');
            console.log(err);
          }
        }
      }
    </script>
  </body>
</html>
