<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CDN -->
    <%- include('../includes/cdn.ejs') %>
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/study.css" />
    <!-- listStudy.css -->
    <link rel="stylesheet" href="/static/css/study/listStudy.css" />
    <!-- listStudy.js -->
    <script defer src="/static/js/listStudy.js"></script>
    <title>스터디 정보 페이지</title>
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <!-- 모집중, 참여중인 스터디 정보 나타내는 항목 -->

    <div
      class="studyWrap container d-flex flex-column justify-content-center py-3 ps-3"
    >
      <!-- 내가 팀장으로 모집중인 스터디 -->
      <div
        class="studySection w-100 leaderStudy py-sm-2 mb-sm-5 d-flex d-sm-flex align-items-sm-center"
      >
        <div
          class="studyStatus w-25 bg-gradient shadow-lg rounded-3 me-sm-3 d-sm-flex flex-sm-column justify-content-sm-center align-items-sm-center"
        >
          <span class="fs-4 fw-bold">내가 만든 스터디</span>
        </div>

        <div
          class="studyInfo w-75 text-sm-center d-flex flex-column flex-sm-wrap align-items-sm-center d-sm-flex justify-content-sm-center"
        >
          <!-- 내가 모집중인 스터디 목록 -->
          <% for (let recruitBoard of recruitBoardInfo) { %>
          <!-- 받아오는 변수가 너무 길어서 새로운 변수 선언 -->
          <!-- 게시글 날짜 관련 + sequelize.col()로 컬럼명 변경한 것들 -->
          <% const boardDate = recruitBoard.dataValues; %>
          <!-- 스터디 관련 -->
          <% const study = recruitBoard.dataValues.study; %>
          <div class="card ithStudy z-2 shadow-sm mb-2 me-2">
            <div
              class="card-body d-sm-flex justify-content-sm-center align-items-sm-center"
            >
              <a href="/study/profile/<%= study?.studySeq %>">
                <span class="card-title study_title fw-bold"
                  ><%= recruitBoard?.title && recruitBoard.title.length <= 7 ?
                  recruitBoard?.title : recruitBoard?.title.slice(0, 7) + '...'
                  %></span
                >

                <p class="card-text d-sm-flex flex-sm-column">
                  <!-- 최대 인원 -->
                  <span class="study_max_people"
                    >최대 인원 : <%= study?.maxPeople %>명</span
                  >
                </p>
                <!-- 스터디 상태 -->
                <!-- 카테고리 -->
                <div class="status_category d-flex">
                  <span class="study_category badge bg-primary me-2">
                    <% switch(study?.category) { case 0: %> Web <% break; case
                    1: %> App <% break; case 2: %> AI <% break; case 3: %> UI/UX
                    <% break; case 4: %> 게임 <% break; default: %> 기타 <%
                    break; } %>
                  </span>
                  <span
                    class="study_status text-light badge <%= study?.status ? 'bg-warning' : 'bg-success' %>"
                  >
                    <%= study?.status ? '모집 마감' : '모집중' %>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <% } %>
          <!-- // 내가 모집중인 스터디 목록 -->
        </div>
      </div>
      <!-- // 내가 팀장으로 모집중인 스터디 -->

      <!-- 내가 참여중인 스터디 -->
      <div
        class="studySection w-100 crewStudy py-sm-2 mb-sm-5 d-flex d-sm-flex align-items-sm-center"
      >
        <div
          class="studyStatus w-25 bg-gradient shadow-lg rounded-3 me-sm-3 d-sm-flex flex-sm-column justify-content-sm-center align-items-sm-center"
        >
          <span class="fs-4 fw-bold">내가 참여하는 스터디</span>
        </div>

        <div
          class="studyInfo w-75 text-sm-center d-flex flex-column flex-sm-wrap align-items-sm-center d-sm-flex justify-content-sm-center"
        >
          <!-- for문 들어와야 함 -->
          <% for(let applyBoard of applyBoardInfo) { %>
          <!-- 받아오는 변수가 너무 길어서 새로운 변수 선언 -->
          <!-- 스터디 관련 -->
          <% const study = applyBoard.dataValues.study; %>
          <!-- 게시글 날짜 관련 + sequelize.col()로 컬럼명 변경한 것들 -->
          <% const boardDate = applyBoard.dataValues; %>
          <div class="card ithStudy z-2 shadow-sm mb-2 me-2">
            <div
              class="card-body d-sm-flex justify-content-sm-center align-items-sm-center"
            >
              <a href="/study/profile/<%= study?.studySeq %>">
                <span class="card-title study_title fw-bold"
                  ><%= !study?.status ? (applyBoard?.title &&
                  applyBoard.title.length <= 7 ? applyBoard?.title :
                  applyBoard?.title.slice(0, 7) + '...') : '' %></span
                >

                <p class="card-text">
                  <!-- 최대 인원 -->
                  <span class="study_max_people"
                    >최대 인원 : <%= study?.maxPeople %>명</span
                  >
                </p>
                <!-- 스터디 상태 -->
                <!-- 카테고리 -->
                <div class="status_category d-flex">
                  <span class="study_category badge bg-primary me-2">
                    <% switch(study?.category) { case 0: %> Web <% break; case
                    1: %> App <% break; case 2: %> AI <% break; case 3: %> UI/UX
                    <% break; case 4: %> 게임 <% break; default: %> 기타 <%
                    break; } %>
                  </span>
                  <span
                    class="study_status text-light badge <%= study?.status ? 'bg-warning' : 'bg-success' %>"
                  >
                    <%= study?.status ? '모집 마감' : '모집중' %>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
