<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새싹 스터디 게시판</title>
    <!-- CDN -->
    <%- include('../includes/cdn.ejs') %>
    <!-- Tagify -->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- 게시판 목록 조회, 특정 게시글 조회 -->
    <link rel="stylesheet" href="/static/css/board/boardSearch.css" />
    <link rel="stylesheet" href="/static/css/board/listBoard.css" />
    <script defer src="/static/js/listBoard.js"></script>
    <!-- 게시물 목록에서도 로그인/회원가입 모달창 사용하기 위해 css, js 파일 필요함 -->
    <script defer src="/static/js/loginRegister.js"></script>
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <div class="boardContainer container w-75">
      <!-- 카테고리 및 검색 작성 기능 -->
      <div class="boardTop my-md-5 d-flex justify-content-between">
        <div class="category_select d-flex flex-column">
          <!-- <input
            name="category"
            class=""
            placeholder=""
            value="웹, 앱, AI, UI / UX, 게임, 기타"
            data-blacklist=".NET,PHP"
          /> -->
          <label class="fw-bold fs-5 mb-2" for="category"
            >관심있는 카테고리를 선택해보세요!</label
          >
          <input
            id="category"
            name="category"
            class="category"
            placeholder=""
            value="웹, 앱, AI, UI / UX, 게임, 기타"
          />
          <!-- <div class="btn">전체</div>
          <div class="btn">웹</div>
          <div class="btn">앱</div>
          <div class="btn">AI</div>
          <div class="btn">UI / UX</div>
          <div class="btn">기타</div> -->
        </div>
        <div
          class="board_search_post d-flex justify-content-sm-end align-items-sm-center gap-2"
        >
          <!-- 검색 창 -->
          <div class="input-group w-100 d-flex">
            <input
              type="text"
              class="form-control me-2"
              id="searchInput"
              placeholder="검색어를 입력하세요"
            />
            <div class="input-group-append">
              <button class="btn" id="searchButton" type="button">검색</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 페이지네이션 -->
      <div class="page_postBoard d-flex justify-content-between mt-3 mb-3">
        <div class="pageWrap d-flex">
          <button class="beforePage" onclick="changePagination()">이전</button>
          <div class="board_page d-flex" id="pagination">
            <div onclick="changePageNum(this)">1</div>
            <% for (i = 1; i < Math.ceil(allBoardLen / 10); i++) { %>
            <div onclick="changePageNum(this)"><%= i+1 %></div>
            <% } %>
          </div>
          <button class="newPage" onclick="changePagination()">다음</button>
        </div>

        <!-- 글 작성 버튼 -->
        <div class="boardPostBtn">
          <% if (typeof session === 'undefined') { %>
          <a
            href=""
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
            >글 작성하기</a
          >
          <% } else { %>
          <a href="/board/register" class="btn">글 작성하기</a>
          <% } %>
        </div>
      </div>
      <!-- 스터디 모집글 본문 -->

      <!-- 게시물 -->

      <div
        class="board_list row justify-content-center text-center"
        id="boardList"
      >
        <% data.forEach((board, index) => { %>
        <div>
          <a
            href="/board/list?boardSeq=<%= board.boardSeq %>"
            class="view-link"
          >
            <div class="card mb-3">
              <div class="card-body row">
                <div class="board_info text-start fw-bold col-6">
                  <div class="cate_date_count">
                    <span class="badge bg-primary"
                      ><% switch (board.study.category) { case 0: %> # 웹 <%
                      break; case 1: %> # 앱 <% break; case 2: %> # AI <% break;
                      case 3: %> # UI/UX <% break; case4: %> # 게임 <% default:
                      %> # 기타 <% } %>
                    </span>
                    <span class="badge bg-secondary"
                      ><%= board.dataValues.year + '.' + board.dataValues.month
                      + '.' + board.dataValues.day %></span
                    >
                    <span class="badge bg-secondary"
                      >view <%= board.count %></span
                    >
                  </div>
                  <span class="title text-wrap"
                    ><%= board.title.length >= 50 ? board.title.slice(0, 50) +
                    '...' : board.title %></span
                  >
                </div>

                <div class="content col-12 text-start text-wrap gy-3">
                  <%= board.content.length <= 100 ? board.content :
                  board.content.slice(0, 100) + ' ...' %>
                </div>
              </div>
            </div>
          </a>
        </div>

        <% }) %>
      </div>
    </div>
  </body>
</html>
