<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새싹 커뮤니티</title>
    <!-- CDN -->
    <%- include('../includes/cdn.ejs') %>
    <!-- Tagify -->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css"
      rel="stylesheet"
      type="text/css"
    />
    <script defer src="/static/js/postBoard.js"></script>
    <link rel="stylesheet" href="/static/css/board/postBoard.css" />
    <!-- header -->
    <link rel="stylesheet" href="/static/css/header.css" />
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <form
      name="data"
      action="/board/register"
      method="post"
      enctype="multipart/form-data"
      onsubmit="return validationForm();"
    >
      <div class="postWrap container bg-white rounded">
        <h1 class="fw-bold">새싹 스터디 게시판 🌱</h1>
        <input type="hidden" name="userSeq" value="<%= boardInfo.userSeq %>" />
        <input
          type="hidden"
          name="boardSeq"
          value="<%= boardInfo.boardSeq %>"
        />
        <input
          type="hidden"
          name="studySeq"
          value="<%= studyInfo.studySeq %>"
        />
        <div
          class="postTop d-flex flex-wrap justify-content-between border-black border-top border-bottom mb-3"
        >
          <div class="postTitleWrap col-md-12 mb-3 py-3 border-bottom">
            <span class="me-3 postTitle">제목</span>
            <input
              class="w-100 form-control"
              type="text"
              name="title"
              placeholder="제목입력"
              value="<% if (boardInfo) { %><%= boardInfo.title %><% } %>"
            />
          </div>
          <div class="categories col-md-12 col-lg-3">
            <div
              class="mb-3 d-flex flex-wrap align-items-center justify-content-start"
            >
              <input
                class="d-none"
                type="radio"
                name="category"
                id="web_cate"
                value="0"
              />
              <label
                for="web_cate"
                class="mb-0 me-3 badge rounded-pill bg-light <%= studyInfo && studyInfo.category === 0 ? 'checked' : '' %>"
                ># 웹</label
              >
              <input
                class="d-none"
                type="radio"
                name="category"
                id="app_cate"
                value="1"
              />
              <label
                for="app_cate"
                class="mb-0 me-3 badge rounded-pill bg-light <%= studyInfo && studyInfo.category === 1 ? 'checked' : '' %>"
                ># 앱</label
              >
              <input
                class="d-none"
                type="radio"
                name="category"
                id="ai_cate"
                value="2"
              />
              <label
                for="ai_cate"
                class="mb-0 me-3 badge rounded-pill bg-light <%= studyInfo && studyInfo.category === 2 ? 'checked' : '' %>"
                ># AI</label
              >
              <input
                class="d-none"
                type="radio"
                name="category"
                id="uiux_cate"
                value="3"
              />
              <label
                for="uiux_cate"
                class="mb-0 me-3 badge rounded-pill bg-light <%= studyInfo && studyInfo.category === 3 ? 'checked' : '' %>"
                ># UI / UX</label
              >
              <input
                class="d-none"
                type="radio"
                name="category"
                id="game_cate"
                value="4"
              />
              <label
                for="game_cate"
                class="mb-0 me-3 badge rounded-pill bg-light <%= studyInfo && studyInfo.category === 4 ? 'checked' : '' %>"
                ># 게임</label
              >
              <input
                class="d-none"
                type="radio"
                name="category"
                id="etc_cate"
                value="5"
              />
              <label
                for="etc_cate"
                class="mb-0 badge rounded-pill bg-light <%= studyInfo && studyInfo.category === 5 ? 'checked' : '' %>"
                ># 기타</label
              >
            </div>
          </div>
        </div>
        <div class="maxPeople col-12 mb-3">
          <input
            name="maxPeople"
            class="w-100 form-control"
            placeholder="최대 인원"
            value="<%= studyInfo.maxPeople %>"
          />
        </div>
        <div class="row">
          <div class="col-12">
            <textarea
              name="content"
              id="content"
              class="form-control"
              rows="10"
              placeholder="내용 입력"
            >
<% if (boardInfo) { %><%= boardInfo.content %><% } %></textarea
            >
          </div>
        </div>
        <div
          class="file row d-flex justify-content-start align-items-center p-2 mt-2"
        >
          <div class="col-md-8 col-sm-12 d-flex align-items-center">
            <!-- 같은 라인에 위치하도록 설정 -->
            <input
              class="fileName w-100 form-control me-1"
              value="<% if (boardInfo && boardInfo.filePath) { %><% const filePath = boardInfo.filePath.replace('\\', '/') %><% const fileName = filePath.split('/')[1] %><%= fileName.slice(0, fileName.lastIndexOf('.')).slice(0, -15) %><% } %>"
              placeholder="첨부파일"
              type="text"
              disabled
            />
            <label class="inputFileBtn btn">
              <input type="file" name="uploadFile" id="postFile" />
              업로드
            </label>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <% if (boardInfo) { %>
          <button
            type="button"
            class="editBtn btn fw-bold mt-3"
            onclick="editPost()"
          >
            수정
          </button>
          <% } else { %>
          <button type="submit" class="postBtn btn fw-bold">글 작성</button>
          <% } %>
        </div>
      </div>
    </form>
  </body>
</html>
