<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새싹 스터디 게시판</title>
    <!-- CDN -->
    <%- include('../includes/cdn.ejs') %>
    <!-- 게시판 목록 조회, 특정 게시글 조회 -->
    <link rel="stylesheet" href="/static/css/board/viewBoard.css" />
    <script defer src="/static/js/viewBoard.js"></script>
    <!-- 로그인 회원가입 js -->
    <script defer src="/static/js/loginRegister.js"></script>
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <button class="btn listBtn d-flex align-items-center justify-content-center position-fixed top-50 left-20" onclick="listBoard()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    </button>
    <div class="board_wrap container w-75">
      <div class="studyStatus mb-3">
        <span class="fs-6 badge bg-success"><%= board.study.status === 0 ? '모집중' : '마감완료' %></span>
        <span class="fs-6 badge bg-success">최대<%= board.study.maxPeople %>명</span>
      </div>
      <div class="board_view_wrap">
        <div class="board_view">
          <input id="boardSeq" type="hidden" value="<%= board.boardSeq %>" />
          <input id="studySeq" type="hidden" value="<%= board.study.studySeq %>" />
          <div class="title">
            <input id="categoryID" type="hidden" value="<%= board.study.category %>">
            <span class="fs-6 badge bg-info opacity-50 me-3" id="studyCategory"></span>
            <span><%= board.title %></span>
          </div>
          <div class="info">
            <dl>
              <dt>작성자</dt>
              <dd><%= user.name %></dd>
            </dl>
            <dl>
              <dt>작성일</dt>
              <dd>
                <%= board.dataValues.year + '-' + board.dataValues.month + '-' +
                board.dataValues.day %>
              </dd>
            </dl>
            <dl>
              <dt>조회</dt>
              <dd><%= board.count %></dd>
            </dl>
          </div>
          <div class="cont">
            <!-- 게시물 내용을 출력할 때는 줄바꿈 이런걸 했을 수도 있어서 이스케이프 처리하지 않고 출력 -->
            <% if (board.content !== null && board.content !== undefined) { %>
            <%- board.content.replace(/\n/g, '<br />') %> <% } %>
          </div>
        </div>
        <div id="postFile" class="fs-5 my-3">
          <span class="badge text-bg-success mx-3">첨부파일</span>
          <a
            class="fs-5"
            href="<%= '/uploadFile/' + board.filePath %>"
            target="_blank"
          >
            <% if (board.filePath !== undefined && board.filePath !== null) { %>
            <%= board.filePath.replace('\\',
            '/').split('/')[1].split('.')[0].slice(0, -15) + '.' +
            board.filePath.replace('\\', '/').split('/')[1].split('.')[1] %> <%
            } %>
          </a>
        </div>
        <% if (session !== undefined && session !== null) { %>
          <% if (board.user.userSeq === session.userSeq) { %>
            <div class="userbtnWrap d-flex justify-content-end">
              <button
                class="deleteBtn btn text-light me-3"
                onclick="deleteBoard()"
              >
                삭제
              </button>
              <button class="editBtn btn text-light" onclick="editBoard()">수정</button>
          <% } %>
        <% } %>
      </div>
      <!-- JavaScript 코드와 스타일이 적용된 댓글 목록 -->
      <div class="comment_section">
        <div><span>댓글</span></div>
        <div class="comment_form">
          <div class="comment_content mb-4">
            <span id="commentWriter" class="fw-bold p-3"
              ><%= session ? session.name : 'guest' %></span
            >
            <% if (session) { %>
              <textarea
                class="px-3"
                id="comment_content"
                name="comment_content"
              ></textarea>
            <% } else { %>
              <textarea
                class="px-3"
                id="comment_content"
                name="comment_content"
                disabled
              ></textarea>
            <% } %>
          </div>
          <div id="btnArea" class="d-flex justify-content-end">
            <button
              class="btn fw-bold text-light"
              type="submit"
              id="submit_comment"
              onclick="submitComment()"
            >
              댓글 작성
            </button>
          </div>
        </div>
        <div class="comment_list">
          <!-- 댓글 배열 형태로 전달되면 각 요소에 대해 작성자, 댓글 내용 출력 -->
          <%# cmts.forEach(cmt => { %>
          <div class="commentBox px-5 mb-3">
            <div class="commentUser badge text-bg-secondary fw-bold">
              김땡땡
            </div>
            <div class="commentContent ms-1 mt-2">
              좋은데요?
            </div>
          </div>
          <%# }); %>
        </div>
      </div>
    </div>
  </body>
</html>
