<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새싹 스터디 게시판</title>
    <!-- CDN -->
    <%- include('../includes/cdn.ejs') %>
    <!-- 게시판 목록 조회, 특정 게시글 조회 -->
    <link rel="stylesheet" href="/static/css/board/viewBoard.css" />
    <script defer src="/static/js/viewBoard.js"></script>
    <!-- 로그인 회원가입 js -->
    <script defer src="/static/js/loginRegister.js"></script>
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <div class="board_wrap container d-flex flex-column justify-content-center">
      <div class="board_title col-5">
        <h3 class="display-6"><strong>새싹 스터디 게시판🌱</strong></h3>
        <p>새싹 스터디 게시판입니다. 자유롭게 작성해주세요~~</p>
      </div>
      <div class="board_view_wrap">
        <div class="board_view">
          <input id="hiddenInput" type="hidden" value="<%= board.boardSeq %>" />
          <div class="title"><%= board.title %></div>
          <div class="info">
            <dl>
              <dt>번호</dt>
              <dd>1</dd>
            </dl>
            <dl>
              <dt>글쓴이</dt>
              <dd><%= user.name %></dd>
            </dl>
            <dl>
              <dt>작성일</dt>
              <dd>
                <%= board.dataValues.year + '-' + board.dataValues.month + '-' +
                board.dataValues.day %>
              </dd>
            </dl>
            <dl>
              <dt>조회</dt>
              <dd><%= board.count %></dd>
            </dl>
          </div>
          <div class="cont">
            <!-- 게시물 내용을 출력할 때는 줄바꿈 이런걸 했을 수도 있어서 이스케이프 처리하지 않고 출력 -->
            <% if (board.content !== null && board.content !== undefined) { %>
            <%- board.content.replace(/\n/g, '<br />') %> <% } %>
          </div>
        </div>
        <div id="postFile" class="fs-5 my-3">
          <span class="badge text-bg-success mx-3">첨부파일</span>
          <a
            class="fs-5"
            href="<%= '/uploadFile/' + board.filePath %>"
            target="_blank"
          >
            <% if (board.filePath !== undefined && board.filePath !== null) { %>
            <%= board.filePath.replace('\\',
            '/').split('/')[1].split('.')[0].slice(0, -15) + '.' +
            board.filePath.replace('\\', '/').split('/')[1].split('.')[1] %> <%
            } %>
          </a>
        </div>
        <% if (session !== undefined && session !== null) { %>
        <% if (board.user.userSeq === session.userSeq) { %>
        <div class="deleteBtnWrap d-flex justify-content-end">
          <button
            class="deleteBtn btn bg-secondary text-light fs-4 me-5"
            onclick="deleteBoard()"
          >
            게시물 삭제
          </button>
        </div>
        <% } %> <% } %>
      </div>
      <!-- JavaScript 코드와 스타일이 적용된 댓글 목록 -->
      <div class="comment_section">
        <div><span>댓글</span></div>
        <div class="comment_form">
          <div class="comment_content mb-4">
            <span id="commentWriter" class="fs-3 fw-bold p-3"
              ><%# session.name %></span
            >
            <textarea
              class="px-3"
              id="comment_content"
              name="comment_content"
            ></textarea>
          </div>
          <div id="btnArea" class="d-flex justify-content-end">
            <button
              class="btn fw-bold fs-4 p-3 text-light"
              type="submit"
              id="submit_comment"
              onclick="submitComment()"
            >
              댓글 작성
            </button>
          </div>
        </div>
        <div class="comment_list">
          <!-- 댓글 배열 형태로 전달되면 각 요소에 대해 작성자, 댓글 내용 출력 -->
          <%# cmts.forEach(cmt => { %>
          <div class="commentBox px-5 mb-3">
            <div class="commentUser badge text-bg-secondary fw-bold fs-3">
              <%#= cmt.commentUser %>
            </div>
            <div class="commentContent mt-2 fs-4">
              <%#= cmt.commentContent %>
            </div>
          </div>
          <%# }); %>
        </div>
      </div>

      <div class="bt_wrap container d-flex justify-content-center">
        <button class="btn me-5 fs-5 px-4" onclick="listBoard()">목록</button>
        <% if (typeof session !== 'undefined') { %> <% if (board.user.userSeq
        === session.userSeq) { %>
        <button class="btn fs-2 px-4" onclick="editBoard()">수정</button>
        <% } %> <% } %>
      </div>
    </div>
  </body>
</html>
